In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
import matplotlib.pyplot as plt
df=pd.read_csv('heart_disease_uci.csv')
df.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [2]:
df=df.drop(columns=['dataset'])

In [3]:
df.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [4]:
df.isnull().sum()

id            0
age           0
sex           0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

In [5]:
df['trestbps'].fillna(df['trestbps'].mean(),inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_18828\2070877216.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['trestbps'].fillna(df['trestbps'].mean(),inplace=True)

In [6]:
df

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,typical angina,145.000000,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,asymptomatic,160.000000,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,asymptomatic,120.000000,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,non-anginal,130.000000,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,atypical angina,130.000000,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,asymptomatic,127.000000,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,917,62,Male,typical angina,132.132404,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,918,55,Male,asymptomatic,122.000000,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,2
918,919,58,Male,asymptomatic,132.132404,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,920,62,Male,atypical angina,120.000000,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

In [7]:
df['chol'].fillna(df['chol'].mean(),inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_18828\515944403.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['chol'].fillna(df['chol'].mean(),inplace=True)

In [8]:
df

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,typical angina,145.000000,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,asymptomatic,160.000000,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,asymptomatic,120.000000,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,non-anginal,130.000000,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,atypical angina,130.000000,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,asymptomatic,127.000000,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,917,62,Male,typical angina,132.132404,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,918,55,Male,asymptomatic,122.000000,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,2
918,919,58,Male,asymptomatic,132.132404,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,920,62,Male,atypical angina,120.000000,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

In [9]:
df['thalch'].fillna(df['thalch'].mean(),inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_18828\891160269.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['thalch'].fillna(df['thalch'].mean(),inplace=True)

In [10]:
df

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,typical angina,145.000000,233.0,True,lv hypertrophy,150.000000,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,asymptomatic,160.000000,286.0,False,lv hypertrophy,108.000000,True,1.5,flat,3.0,normal,2
2,3,67,Male,asymptomatic,120.000000,229.0,False,lv hypertrophy,129.000000,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,non-anginal,130.000000,250.0,False,normal,187.000000,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,atypical angina,130.000000,204.0,False,lv hypertrophy,172.000000,False,1.4,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,asymptomatic,127.000000,333.0,True,st-t abnormality,154.000000,False,0.0,NaN,NaN,NaN,1
916,917,62,Male,typical angina,132.132404,139.0,False,st-t abnormality,137.545665,NaN,NaN,NaN,NaN,NaN,0
917,918,55,Male,asymptomatic,122.000000,223.0,True,st-t abnormality,100.000000,False,0.0,NaN,NaN,fixed defect,2
918,919,58,Male,asymptomatic,132.132404,385.0,True,lv hypertrophy,137.545665,NaN,NaN,NaN,NaN,NaN,0
919,920,62,Male,atypical angina,120.000000,254.0,False,lv hypertrophy,93.000000,True,0.0,NaN,NaN,NaN,1

In [11]:
df['oldpeak'].fillna(df['oldpeak'].mean(),inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_18828\3630874968.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['oldpeak'].fillna(df['oldpeak'].mean(),inplace=True)

In [12]:
df

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,typical angina,145.000000,233.0,True,lv hypertrophy,150.000000,False,2.300000,downsloping,0.0,fixed defect,0
1,2,67,Male,asymptomatic,160.000000,286.0,False,lv hypertrophy,108.000000,True,1.500000,flat,3.0,normal,2
2,3,67,Male,asymptomatic,120.000000,229.0,False,lv hypertrophy,129.000000,True,2.600000,flat,2.0,reversable defect,1
3,4,37,Male,non-anginal,130.000000,250.0,False,normal,187.000000,False,3.500000,downsloping,0.0,normal,0
4,5,41,Female,atypical angina,130.000000,204.0,False,lv hypertrophy,172.000000,False,1.400000,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,asymptomatic,127.000000,333.0,True,st-t abnormality,154.000000,False,0.000000,NaN,NaN,NaN,1
916,917,62,Male,typical angina,132.132404,139.0,False,st-t abnormality,137.545665,NaN,0.878788,NaN,NaN,NaN,0
917,918,55,Male,asymptomatic,122.000000,223.0,True,st-t abnormality,100.000000,False,0.000000,NaN,NaN,fixed defect,2
918,919,58,Male,asymptomatic,132.132404,385.0,True,lv hypertrophy,137.545665,NaN,0.878788,NaN,NaN,NaN,0
919,920,62,Male,atypical angina,120.000000,254.0,False,lv hypertrophy,93.000000,True,0.000000,NaN,NaN,NaN,1

In [13]:
df['ca'].fillna(df['ca'].mean(),inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_18828\4170465915.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ca'].fillna(df['ca'].mean(),inplace=True)

In [14]:
df

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,typical angina,145.000000,233.0,True,lv hypertrophy,150.000000,False,2.300000,downsloping,0.000000,fixed defect,0
1,2,67,Male,asymptomatic,160.000000,286.0,False,lv hypertrophy,108.000000,True,1.500000,flat,3.000000,normal,2
2,3,67,Male,asymptomatic,120.000000,229.0,False,lv hypertrophy,129.000000,True,2.600000,flat,2.000000,reversable defect,1
3,4,37,Male,non-anginal,130.000000,250.0,False,normal,187.000000,False,3.500000,downsloping,0.000000,normal,0
4,5,41,Female,atypical angina,130.000000,204.0,False,lv hypertrophy,172.000000,False,1.400000,upsloping,0.000000,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,asymptomatic,127.000000,333.0,True,st-t abnormality,154.000000,False,0.000000,NaN,0.676375,NaN,1
916,917,62,Male,typical angina,132.132404,139.0,False,st-t abnormality,137.545665,NaN,0.878788,NaN,0.676375,NaN,0
917,918,55,Male,asymptomatic,122.000000,223.0,True,st-t abnormality,100.000000,False,0.000000,NaN,0.676375,fixed defect,2
918,919,58,Male,asymptomatic,132.132404,385.0,True,lv hypertrophy,137.545665,NaN,0.878788,NaN,0.676375,NaN,0
919,920,62,Male,atypical angina,120.000000,254.0,False,lv hypertrophy,93.000000,True,0.000000,NaN,0.676375,NaN,1

In [15]:
df = pd.get_dummies(
    df,
    columns=["sex",'cp','trestbps','fbs','restecg','exang','slope','thal'],
    drop_first=True,
    dtype=int
)

In [16]:
df

,id,age,chol,thalch,oldpeak,ca,num,sex_Male,cp_atypical angina,cp_non-anginal,...,trestbps_192.0,trestbps_200.0,fbs_True,restecg_normal,restecg_st-t abnormality,exang_True,slope_flat,slope_upsloping,thal_normal,thal_reversable defect
0,1,63,233.0,150.000000,2.300000,0.000000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,2,67,286.0,108.000000,1.500000,3.000000,2,1,0,0,...,0,0,0,0,0,1,1,0,1,0
2,3,67,229.0,129.000000,2.600000,2.000000,1,1,0,0,...,0,0,0,0,0,1,1,0,0,1
3,4,37,250.0,187.000000,3.500000,0.000000,0,1,0,1,...,0,0,0,1,0,0,0,0,1,0
4,5,41,204.0,172.000000,1.400000,0.000000,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,333.0,154.000000,0.000000,0.676375,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
916,917,62,139.0,137.545665,0.878788,0.676375,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
917,918,55,223.0,100.000000,0.000000,0.676375,2,1,0,0,...,0,0,1,0,1,0,0,0,0,0
918,919,58,385.0,137.545665,0.878788,0.676375,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
919,920,62,254.0,93.000000,0.000000,0.676375,1,1,1,0,...,0,0,0,0,0,1,0,0,0,0

In [17]:
df.isnull().sum()

id                        0
age                       0
chol                      0
thalch                    0
oldpeak                   0
                         ..
exang_True                0
slope_flat                0
slope_upsloping           0
thal_normal               0
thal_reversable defect    0
Length: 80, dtype: int64

In [18]:
df.head()
df.dtypes

id                          int64
age                         int64
chol                      float64
thalch                    float64
oldpeak                   float64
                           ...
exang_True                  int64
slope_flat                  int64
slope_upsloping             int64
thal_normal                 int64
thal_reversable defect      int64
Length: 80, dtype: object

In [19]:
df=df.drop(columns=['id'])

In [20]:
df

,age,chol,thalch,oldpeak,ca,num,sex_Male,cp_atypical angina,cp_non-anginal,cp_typical angina,...,trestbps_192.0,trestbps_200.0,fbs_True,restecg_normal,restecg_st-t abnormality,exang_True,slope_flat,slope_upsloping,thal_normal,thal_reversable defect
0,63,233.0,150.000000,2.300000,0.000000,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1,67,286.0,108.000000,1.500000,3.000000,2,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
2,67,229.0,129.000000,2.600000,2.000000,1,1,0,0,0,...,0,0,0,0,0,1,1,0,0,1
3,37,250.0,187.000000,3.500000,0.000000,0,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
4,41,204.0,172.000000,1.400000,0.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,54,333.0,154.000000,0.000000,0.676375,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
916,62,139.0,137.545665,0.878788,0.676375,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
917,55,223.0,100.000000,0.000000,0.676375,2,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
918,58,385.0,137.545665,0.878788,0.676375,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
919,62,254.0,93.000000,0.000000,0.676375,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [21]:
y=df['num']
X=df.drop(columns=['num'])
print(X.shape)
print(y.shape)

(920, 78)
(920,)

In [29]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train,X_test,y_train,y_test=train_test_split(
    X,y,test_size=0.2,random_state=42
)
model = RandomForestClassifier(random_state=42)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
print('predicted:',y_pred)
print('accuracy:',accuracy_score(y_test,y_pred))
print('classification:',classification_report(y_test,y_pred))
print('confussion',confusion_matrix(y_test,y_pred))

predicted: [0 0 1 1 0 0 0 1 1 0 1 1 1 1 1 0 0 0 0 1 0 0 1 1 2 1 1 0 0 0 0 0 0 0 0 3 0
 1 1 0 1 0 1 0 0 1 1 0 0 0 1 0 0 1 0 3 3 0 2 1 0 0 1 3 0 0 0 0 1 4 2 0 1 0
 0 0 0 0 0 0 0 1 0 0 1 3 1 3 0 3 3 1 0 0 0 1 0 0 0 0 1 0 1 1 0 0 1 0 2 0 0
 2 2 0 0 0 1 0 1 0 0 1 0 1 3 0 0 0 1 0 0 0 0 0 1 0 1 3 3 0 2 1 0 1 0 1 3 1
 0 3 0 1 1 0 0 1 0 1 1 0 1 1 1 0 0 1 0 1 0 1 0 0 0 0 0 2 0 0 1 0 4 0 0 1]
accuracy: 0.5380434782608695
classification:               precision    recall  f1-score   support

           0       0.68      0.92      0.78        75
           1       0.44      0.48      0.46        54
           2       0.12      0.04      0.06        25
           3       0.23      0.12      0.15        26
           4       0.00      0.00      0.00         4

    accuracy                           0.54       184
   macro avg       0.29      0.31      0.29       184
weighted avg       0.45      0.54      0.48       184

confussion [[69  6  0  0  0]
 [21 26  4  2  1]
 [ 6 13  1  5  0]
 [ 6 14  2  3  1]
 [ 0  0  1  3  0]]

In [32]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train,X_test,y_train,y_test=train_test_split(
    X,y,test_size=0.2,random_state=42
)
model = LogisticRegression(class_weight='balanced',random_state=42)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
print('predicted:',y_pred)
print('accuracy:',accuracy_score(y_test,y_pred))
print('classification:',classification_report(y_test,y_pred))
print('confussion',confusion_matrix(y_test,y_pred))

predicted: [0 0 1 4 0 0 0 3 4 2 0 1 3 0 2 0 0 0 1 1 0 1 4 1 2 2 2 0 1 0 0 1 0 0 0 1 0
 0 3 1 2 0 2 0 0 1 4 4 1 0 3 0 0 1 0 2 2 0 3 1 0 0 3 2 0 3 0 0 4 0 2 0 2 0
 1 0 0 0 1 0 1 1 0 0 1 4 1 4 1 3 0 2 0 4 0 4 0 4 0 0 1 4 1 1 0 0 0 0 4 0 0
 4 1 0 1 0 2 0 1 0 1 1 0 1 3 0 0 0 2 2 0 0 0 0 0 0 1 3 3 2 4 1 1 2 1 1 4 2
 0 4 2 2 4 0 0 1 1 2 4 0 3 1 1 0 1 2 0 2 0 1 1 0 0 0 0 1 0 2 2 0 4 1 0 2]
accuracy: 0.532608695652174
classification:               precision    recall  f1-score   support

           0       0.78      0.84      0.81        75
           1       0.55      0.44      0.49        54
           2       0.22      0.24      0.23        25
           3       0.25      0.12      0.16        26
           4       0.10      0.50      0.17         4

    accuracy                           0.53       184
   macro avg       0.38      0.43      0.37       184
weighted avg       0.54      0.53      0.53       184

confussion [[63  7  3  0  2]
 [14 24  7  4  5]
 [ 2  6  6  4  7]
 [ 1  7 11  3  4]
 [ 1  0  0  1  2]]

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(