In [1]:
#simple label encoder
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)

In [3]:
#simple label encoder
import pandas as pd
from sklearn.preprocessing import LabelEncoder
data=pd.DataFrame({
    "Fruits":["Apple","Banana","Mango","Apple","Banana"]
})
le=LabelEncoder()
data["Fruit_encoder"]=le.fit_transform(data["Fruits"])
print(data)

   Fruits  Fruit_encoder
0   Apple              0
1  Banana              1
2   Mango              2
3   Apple              0
4  Banana              1

In [5]:
#label encoder using multiple columns
data=pd.DataFrame({
    "city":["delhi","mumbai","chennai","delhi","chennai"],
    "gender":["male",'female','female','male','female']
})
le_city=LabelEncoder()
le_gender=LabelEncoder()

data['city_encoder']=le_city.fit_transform(data['city'])
data['gender_encoder']=le_gender.fit_transform(data['gender'])
print(data)

      city  gender  city_encoder  gender_encoder
0    delhi    male             1               1
1   mumbai  female             2               0
2  chennai  female             0               0
3    delhi    male             1               1
4  chennai  female             0               0

In [7]:
#ordinal encoder
from sklearn.preprocessing import OrdinalEncoder
data=pd.DataFrame({
    "size":["small",'medium','large','medium','small']
})
encoder=OrdinalEncoder(categories=[['small','medium','large']])
data['size_encoded']=encoder.fit_transform(data[['size']])
print(data)

     size  size_encoded
0   small           0.0
1  medium           1.0
2   large           2.0
3  medium           1.0
4   small           0.0

In [9]:
#one hot using get dummies
data=pd.DataFrame({"color":['red','blue','green','red']})
ohe=pd.get_dummies(data,columns=['color'])
print(ohe)

   color_blue  color_green  color_red
0       False        False       True
1        True        False      False
2       False         True      False
3       False        False       True

In [12]:
#one hot using another method
import numpy as np 
from sklearn.preprocessing import OneHotEncoder
data=np.array([['red'],['blue'],['green'],['red']])
encoder=OneHotEncoder(sparse_output=False)
ohe=encoder.fit_transform(data)
columns=encoder.get_feature_names_out(['color'])
df_ohe=pd.DataFrame(ohe,columns=columns)
print(df_ohe)

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0

In [13]:
data=pd.DataFrame({'color':['red','blue','green','red']})
dummy=pd.get_dummies(data['color'],drop_first=True)
print(dummy)

   green    red
0  False   True
1  False  False
2   True  False
3  False   True

In [1]:
import pandas as pd
df=pd.read_csv('Iris (1).csv')
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
#simple label encoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Encoded_Species']=le.fit_transform(df['Species'])
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species  Encoded_Species
0       Iris-setosa                0
1       Iris-setosa                0
2       Iris-setosa                0
3       Iris-setosa                0
4       Iris-setosa                0
..              ...              ...
145  Iris-virginica                2
146  Iris-virginica                2
147  Iris-virginica                2
148  Iris-virginica                2
149  Iris-virginica                2

[150 rows x 7 columns]

In [4]:
#using multiple columns
import pandas as pd
df_stu=pd.read_csv('StudentsPerformance.csv')
print(df_stu.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [10]:
le_race=LabelEncoder()
le_par=LabelEncoder()
encoded_df=pd.DataFrame({
    'race/ethnicity':df_stu['race/ethnicity'],
    'parental level of education':df_stu['parental level of education'],
    'encoded race':le_race.fit_transform(df_stu['race/ethnicity']),
    'encoded parental':le_par.fit_transform(df_stu['parental level of education'])
})
print(encoded_df.head())

  race/ethnicity parental level of education  encoded race  encoded parental
0        group B           bachelor's degree             1                 1
1        group C                some college             2                 4
2        group B             master's degree             1                 3
3        group A          associate's degree             0                 0
4        group C                some college             2                 4

In [6]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df_stu=pd.read_csv('StudentsPerformance.csv')
ohe=pd.DataFrame({
    'race/ethicity':df_stu['race/ethnicity'],
    'encoded race':pd.get_dummies(df_stu['race/ethnicity']).values.tolist()
})    
print(ohe)

    race/ethicity                        encoded race
0         group B  [False, True, False, False, False]
1         group C  [False, False, True, False, False]
2         group B  [False, True, False, False, False]
3         group A  [True, False, False, False, False]
4         group C  [False, False, True, False, False]
..            ...                                 ...
995       group E  [False, False, False, False, True]
996       group C  [False, False, True, False, False]
997       group C  [False, False, True, False, False]
998       group D  [False, False, False, True, False]
999       group D  [False, False, False, True, False]

[1000 rows x 2 columns]

In [8]:
#scalar using minmax
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data={
    'ID':[101,102,103,104,105,106],
    'Name':['A','B','C','D','E','F'],
    'Age':[10,22,25,30,40,50],
    'salary':[15000,20000,30000,40000,60000,80000],
    'expirence':[1,2,3,5,7,10]
}
df=pd.DataFrame(data)
print("Original Dataset:\n")
print(df)

Original Dataset:

    ID Name  Age  salary  expirence
0  101    A   10   15000          1
1  102    B   22   20000          2
2  103    C   25   30000          3
3  104    D   30   40000          5
4  105    E   40   60000          7
5  106    F   50   80000         10

In [11]:
cols_to_scale=['Age','salary','expirence']
scaler=MinMaxScaler()
df[cols_to_scale]=scaler.fit_transform(df[cols_to_scale])
print("\nScaled dataset:\n")
print(df)

Scaled dataset:

    ID Name    Age    salary  expirence
0  101    A  0.000  0.000000   0.000000
1  102    B  0.300  0.076923   0.111111
2  103    C  0.375  0.230769   0.222222
3  104    D  0.500  0.384615   0.444444
4  105    E  0.750  0.692308   0.666667
5  106    F  1.000  1.000000   1.000000

In [14]:
#standardisation 
import pandas as pd
from sklearn.preprocessing import StandardScaler
data={
    'ID':[101,102,103,104,105,106],
    'Name':['A','B','C','D','E','F'],
    'Age':[10,22,25,30,40,50],
    'salary':[15000,20000,30000,40000,60000,80000],
    'expirence':[1,2,3,5,7,10]
}
df=pd.DataFrame(data)
print("Original Dataset:\n")
print(df)
cols_to_standardize=['Age','salary','expirence']
scaler=StandardScaler()
df[cols_to_standardize]=scaler.fit_transform(df[cols_to_standardize])
print('\nStandardized Dataset:\n')
print(df)

Original Dataset:

    ID Name  Age  salary  expirence
0  101    A   10   15000          1
1  102    B   22   20000          2
2  103    C   25   30000          3
3  104    D   30   40000          5
4  105    E   40   60000          7
5  106    F   50   80000         10

Standardized Dataset:

    ID Name       Age    salary  expirence
0  101    A -1.519993 -1.132715  -1.186161
1  102    B -0.584613 -0.913480  -0.862662
2  103    C -0.350768 -0.475010  -0.539164
3  104    D  0.038974 -0.036539   0.107833
4  105    E  0.818458  0.840402   0.754829
5  106    F  1.597942  1.717343   1.725324

In [15]:
import pandas as pd

df_stu=pd.read_csv('StudentsPerformance.csv')
print(df_stu.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75